.signup{
    width: 1920px;
    height: 270px;
    position: relative;
    top: 5670px;
    background-color: #F0EFE9;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.signup .headline_2{
    font-size: 45px;
    font-family: 'DM Sans';
    font-weight: bold;
    width: 741px;
    height: 60px;
    text-align: start;
    
}

.signup span{
    width: 308px;
    height: 56px;
    border-radius: 25px;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup button{
    width: 171px;
    height: 56;
    margin-top: 50px;
    position: relative;
    left: 50px;
    top: 1px;
}

.signupBtn{
    position: relative;
    padding-bottom: 50px;
    right: 20px;
}