.Service{
    width: 1920px;
    height: 870px; 
    display: block;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2500px;
    background-color: #F0EFE9;
    
}

.serviceBox{
    width: 1320px;
    height: 630.62px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    padding-bottom: 100px;
}

.HeadLine{
    margin-left: 300px;
    margin-top: 80px;
    width: 504px;
    height: 153.21px;
   
}

.HeadLine .headline_1{
    color: #F94D1C;
    font-size: 18px;
    font-family: 'Inter';
    font-weight: medium;
}



.OurServiceBtn button{
    width: 221px;
    height: 56px;
    border-radius: 25px;
    top: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    left: 850px;
}

.HeadLine .headline_2{
    font-size: 45px;
    font-family: 'DM sans';
    font-weight: bold;
}

